<div>
    <h1>
        hola {{user.firstName}}
    </h1>
    <h2>
        Esta es una plantilla en handlebars! dentro de la carpeta templates ja
    </h2>
    <p>
        aqui puedes comprar nuestros productos <a href="http://localhost:8080">Supermercado</a>
    </p>
</div>