Login

<div>
    <form id="loginForm">
        <label>Email</label>
        <input name="email">
        <br>
        <label>Contraseña</label>
        <input name="password">
        <input type="submit">
    </form>
</div>

<style>
    * {
        background-color: darkslategrey;
    }
</style>

Tambien puedes ingresar por
<a href="/api/sessions/github"><button>Github</button></a>

<script src="/js/login.js"></script>